*:focus {
  outline: none;
}
body {
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: 100;
}
.mainContainer {
  width: 1240px;
  height: 380px;
  position: relative;
  margin: auto;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
}
.mainPlayer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 30px 560px 20px 30px;
  opacity: 0.9;
}
.songTitle {
  width: 575px;
  height: 63px;
  position: relative;
  left: 75px;
  bottom: 75px;
}
.artist {
  font-size: 16px;
  color: #ccc;
  background-color: rgba(0,0,0,0.8);
  border: none;
  padding: 2px 7px 3px;
  display: block;
}
.title {
  font-size: 24px;
  color: white;
  background-color: rgba(0,0,0,0.8);
  padding: 4px 7px;
  display: inline;
  position: relative;
  top: 10px;
}
.rightContainer {
  height: 340px;
  width: 340px;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}
.songInfo {
  width: 150px;
  height: 63px;
  margin-right: 0;
  margin-left: auto;
  /* direction: rtl; */
  position: relative;
  right: 370px;
  bottom: 335px;
}
.posted {
  position: absolute;
  right: 0;
  font-size: 16px;
  color: white;
}
.genre {
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 2.5px 7px;
  background-color: #999999;
  text-align: right;
  display: block;
  position: absolute;
  right: 0;
  top: 40px;
}
.playButton {
  background-image: url("play.png");
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  border: none;
  position: relative;
  right: 5px;
  bottom: 5px;
}
.music {
  width: 820px;
  height: 100px;
  border: 1px solid;
  position: absolute;
  bottom: 40px;
}
.songProgression {
  position: relative;
  width: 0px;
  height: 2px;
  left: 0;
  top: 50px;
  background-color: white;
}
.userPhoto {
  background-image: 100%;
  width: 20px;
  height: 20px;
}
.photoButton {
  border: none;
  background-color: transparent;
}